/* Navbar */
nav {
    position: fixed;
    background-color: rgba(85, 87, 88, 1);
}

/* Card CSS */
.card-content {
    font-size: 15px;
}
.card {
    background-color: rgba(85, 87, 88, 0.8);
    border: 4px solid rgba(85, 87, 88, 0.42);
    font-family: 'Abel', sans-serif;
    /* margin-top: 70px; */
}

/* Background image */
#image1 {
    background-image: url("../images/photo-1533664488202-6af66d26c44a.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/* Footer */
.page-footer {
    height: 65px;
    background-color: rgba(85, 87, 88);
 }

.card-info {
   margin-top: 100px;

}